.ShoppingList-container {
  margin: 0 auto;
  padding: 35px 0;
  width: max-content;
}

.ul-ShoppingList {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.item-ShoppingList {
  font-size: 1.1rem;
  font-weight: bolder;
}

h1,
hr {
  margin: 0;
}

h3 {
  margin: 40px 0 60px 0;
}
