.completed {
  text-decoration: line-through;
  color: black;
  &:hover {
    color: red;
  }
}

.shoppingItem-container {
  padding: 30px 0;
  font-size: 1.2rem;
  margin: 0;

  &:nth-child(2n-1) {
    background-color: white;
  }

  &:nth-child(2n) {
    background-color: rgb(233, 233, 233);
  }
}

.ul-shoppingItem {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  text-align: left;
  padding: 0;
  margin: 0;
  span {
    text-align: center;
  }
}

.edit-remove-btn-container {
  display: flex;
  button {
    margin-right: 3px;
  }
}
