.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ul {
  list-style: none;
  padding-left: 0;
}

button,
input,
label {
  font-size: 1.2rem;
}

label {
  padding-right: 0.8rem;
}

input {
  width: 4.5rem;
  border-radius: 5px;
  outline-style: hidden;
  outline-color: rgb(255, 179, 0);
  background-color: white;
  padding: 5px;
  &:hover {
    outline-width: 3px;
  }
}

button {
  padding: 3px 8px;
  border-radius: 5px;
  //idee: hier vllt mit icon ersetzen
}
